@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Digital 7";
  src: local("Digital 7"), url(./assets/fonts/digital-7.ttf) format("truetype");
}

@font-face {
  font-family: "Pointless";
  src: local("Pointless"), url(./assets/fonts/Pointless.ttf) format("truetype");
}

h1,
h2,
h3,
h4 {
  font-family: "Pointless", cursive;
}

.digital {
  font-family: "Digital 7";
}
